
body {
    font-family: Arial, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
/* for main text inside the body panel */
.maintext {
    margin: 50px 100px;
    text-align: justify;
}
/* to create two columns text for the body main text */
.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 30px;
    text-align: left;

}



/* this is the main panel */
header {
    text-align: center;
    font-size: large;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #363637;
    padding-block: 10px;
}

/* this is the navigation bar with main tags */
nav {
    background-color: #4a90e2; 
    padding-block: 10px;
}
/* and the tags */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: grid; for vertical alignment */
    display: flex;
    justify-content: space-around; 
    text-align: center;  
   
}
/* and the texts in tags */
nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;  
    
}
/* highlight of tag selected */
nav ul li a:hover {
    background-color: #0d47a1; /* Darker blue on hover */
}


/* this is a panel of images */
.image-panel {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}
.image-panel img {
    width: 20%;
}


/* this is a button to host a external link */
.button {
    display: inline-block;
    background-color:  #4a90e2ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.button:hover {
    background-color:  #0d47a1;
}


/* this is the bottom bar */
footer {
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
    padding-block: 20px;
    
}